six
requests
whichcraft 

logzero
progress
retry
adbutils>=1.2.3
Deprecated

# Not supported in QPython
Pillow
lxml>=4.3
cached-property>=1.5.1,<2.0
packaging

#websocket-client

filelock>=3.0.12,<4.0
